<a href="https://colab.research.google.com/github/QaziSaim/PythonSharpen/blob/main/ListBased_ProblemSet_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list with integers from 1 to 10.
number_10 = [n for n in range(1,11)]
print(number_10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 2. Find the length of a list without using the `len()` function.
names = ['Sahim','Shakir','Ali','Kazi']
count = 0
for name in names:
  count+=1
print(f"the number of elements are in list {count}")

the number of elements are in list 4

In [ ]:
# 3. Append an element to the end of a list.
fruits = ['mango','peach']
fruits.append('apple')
print(fruits)

['mango', 'peach', 'apple']

In [ ]:
# 4. Insert an element at a specific index in a list.
fruits = ['apple','banana','cherry','eggfruit']
fruits.insert(3,'dates')
print(fruits)

['apple', 'banana', 'cherry', 'dates', 'eggfruit']

In [ ]:
# 5. Remove an element from a list by its value.
# 6. Remove an element from a list by its index.
fruits = ['apple','banana','cherry','eggfruit']
fruits.remove('apple')
del fruits[1]
print(fruits)

['banana', 'eggfruit']

In [ ]:
# 7. Check if an element exists in a list.
fruits = ['apple','banana','cherry','eggfruit']
print(f"is apple is present in fruits {'apple' in fruits}")

is apple is present in fruits True

In [ ]:
# 8. Find the index of the first occurrence of an element in a list.
fruits = ['apple','banana','cherry','apple','eggfruit','apple','apple']
first_occure = fruits[0]
count = 0
for fruit in fruits:
  if first_occure == fruit:
    count+=1
print(f"{first_occure} count is {count}")

apple count is 4

In [ ]:
# 9. Count the occurrences of an element in a list.
fruits = ['apple','banana','cherry','apple','eggfruit','apple','apple']
fruits_occurrence_count = {fruit:fruits.count(fruit) for fruit in fruits}
print("fruits occurence")
print(fruits_occurrence_count)

fruits occurence
{'apple': 4, 'banana': 1, 'cherry': 1, 'eggfruit': 1}

In [ ]:
# 10. Reverse the order of elements in a list.
fruits =  ['apple','banana','cherry','apple','eggfruit']
print('reversed order list:')
print(fruits[::-1])

reversed order list:
['eggfruit', 'apple', 'cherry', 'banana', 'apple']

In [ ]:
# 11. Sort a list in ascending order.
# 12. Sort a list in descending order.
fruits =  ['apple','banana','cherry','apple','eggfruit']
print(fruits)
print('ascending')
print(sorted(fruits))
print('descending')
print(sorted(fruits,reverse=True))

['apple', 'banana', 'cherry', 'apple', 'eggfruit']
ascending
['apple', 'apple', 'banana', 'cherry', 'eggfruit']
descending
['eggfruit', 'cherry', 'banana', 'apple', 'apple']

In [ ]:
# 13. Create a list of even numbers from 1 to 20.

# 14. Create a list of odd numbers from 1 to 20.
print('even list')
even = [n for n in range(1,21) if n%2==0]
print(even)
print('odd list')
odd = [n for n in range(1,20) if n%2!=0]
print(odd)

even list
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
odd list
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 15. Find the sum of all elements in a list.
# 16. Find the maximum value in a list.
# 17. Find the minimum value in a list.
even = [n for n in range(1,21)]
print('sum of all elements ',sum(even))
print('maximum number ',max(even))
print('minimum number ',min(even))

sum of all elements  210
maximum number  20
minimum number  1

In [ ]:
import random
# 18. Create a list of squares of numbers from 1 to 10.
# 19. Create a list of random numbers.
# 20. Remove duplicates from a list.
square_list = [n**2 for n in range(1,10)]
print(square_list)
random_number = [random.randint(1,10) for n in range(10)]
print(random_number)
fruits = ['apple','banana','cherry','apple','eggfruit','apple','apple']
uniqe_fruits = [n for n in dict.fromkeys(fruits)]
print(uniqe_fruits)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[6, 5, 10, 10, 9, 3, 10, 4, 4, 7]
['apple', 'banana', 'cherry', 'eggfruit']

In [ ]:
# 21. Find the common elements between two lists.

# 22. Find the difference between two lists.
alphabet_one = ['a','b','c','d','e']
alphabet_two = ['a','f','b','c','k']
print('common elements are...')
for alphabet in alphabet_one:
  if alphabet in alphabet_two:
    print(alphabet)
print('uncommon elements are...')
print(set(alphabet_one).difference(alphabet_two))
print(set(alphabet_two).difference(alphabet_one))

common elements are...
a
b
c
uncommon elements are...
{'e', 'd'}
{'k', 'f'}

In [ ]:
# 23. Merge two lists.
# 24. Multiply all elements in a list by 2.
# 25. Filter out all even numbers from a list.
alphabet_one = ['a','b','c','d','e']
alphabet_two = ['a','f','b','c','k']
alphabet_one.extend(alphabet_two)
print(alphabet_one)
number  = [n*2 for n in range(100,120)]
print(number)
mix_number = [n for n in range(1,50)]
print('only even numbers')
print([n for n in mix_number if n%2==0])

['a', 'b', 'c', 'd', 'e', 'a', 'f', 'b', 'c', 'k']
[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238]
only even numbers
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [ ]:
# 26. Convert a list of strings to a list of integers.
# 27. Convert a list of integers to a list of strings.
# 28. Flatten a nested list.
str_number = ['1','2','3','4','5']
int_number = [int(n) for n in str_number]
print(int_number)
re_convo = [str(n) for n in int_number]
print(re_convo)
nested = [[1,2,3],[4,5,6]]
flatten = []
for i in nested:
  for j in i:
    flatten.append(j)
print(flatten)

[1, 2, 3, 4, 5]
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5, 6]

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers.
def fibo(n):
  if n==0 or n==1:
    return n
  return fibo(n-1)+fibo(n-2)
n1 = 0
n2 = 1
print(n1)
print(n2)
for i in range(1,10):
  n3 = n1+n2
  n1 = n2
  n2 = n3
  print(n3)

n=10
print(fibo(10))

0
1
1
2
3
5
8
13
21
34
55
55

In [ ]:
# 30. Check if a list is sorted.
unsorted = [1,3,5,4,2]
sortedlist = [1,2,3,4,5]
def check_sort(ls):
  if sorted(ls)==ls:
    return "list is sorted"
  else:
    return 'list is unosrted'
print(check_sort(unsorted))
print(check_sort(sortedlist))

list is unosrted
list is sorted

In [3]:
# 31. Rotate a list to the left by `n` positions.
from collections import deque
a= [1,2,3,4,5]
# d = deque(a)
# d.rotate(2)
# print(d)
b = a[::-1]
del a[4]
del a[3]
a.insert(0,b[0])
a.insert(1,b[1])
print(a)

[5, 4, 1, 2, 3]

In [20]:
# 32. Rotate a list to the right by `n` positions.
a = [1,2,3,4,5] # output: [3,4,5,1,2]
b = a[::-1]
n=3
new_n = [a[n] for n in range(n)]
for i in range(n):
  b.pop()

b.extend(new_n)
print(b)

[5, 4, 1, 2, 3]

In [18]:
print(new_n)

[5, 4]