<a href="https://colab.research.google.com/github/QaziSaim/PythonSharpen/blob/main/TupleBase_PracticeSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
# 1. Create a tuple with integers from 1 to 5.
# 2. Access the third element of a tuple.
# 3. Find the length of a tuple without using the `len()` function.
# 4. Count the occurrences of an element in a tuple.
tuple_10 = list([random.random() for  n in range(1,11)])
print(tuple_10)
print(f'Third Element is ',tuple_10[2])
count = 0
for i in range(len(tuple_10)):
  count+=1
print('Total number of elements in tuple are: ',count)
copy_tuple = [1,1,2,3,4,5,5,6,7,8,8,9,10,10]
print('occurence of all elements',{n:copy_tuple.count(n) for n in copy_tuple})

[0.7118213703689646, 0.136680284407239, 0.27841231867683214, 0.7151393111584462, 0.5624595763655474, 0.1230939382405607, 0.024020335294895556, 0.8145882716720589, 0.03186713237561456, 0.5791611422394087]
Third Element is  0.27841231867683214
Total number of elements in tuple are:  10
occurence of all elements {1: 2, 2: 1, 3: 1, 4: 1, 5: 2, 6: 1, 7: 1, 8: 2, 9: 1, 10: 2}

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.
# 6. Check if an element exists in a tuple.
# 7. Convert a tuple to a list.
# 8. Convert a list to a tuple.
new_tuple = ('apple','mango','kiwi','papaya','lemon','stawberry')
print('first occurence element index',new_tuple[0])
if 'mango' in new_tuple:
  print('Yes mango exists')
else:
  print('No mango exists')
print('Tuple to List',list(new_tuple))
print('List to Tuple',tuple(list(new_tuple)))

first occurence element index apple
Yes mango exists
List to Tuple ['apple', 'mango', 'kiwi', 'papaya', 'lemon', 'stawberry']
Tuple to List ('apple', 'mango', 'kiwi', 'papaya', 'lemon', 'stawberry')

In [ ]:
# 9. Unpack the elements of a tuple into variables.
# 10. Create a tuple of even numbers from 1 to 10.
# 11. Create a tuple of odd numbers from 1 to 10.
# 12. Concatenate two tuples.
one,two,_,three = (1,2,3,4)
print(_)
print('even number tuple',tuple(list(n for n in range(10) if n%2==0)))
print('odd number tuple',tuple(list(n for n in range(10) if n%2!=0)))
numberOne=(1,2,3,4)
numberTwo=(5,6,7,8)
numberOne = list(numberOne)
numberTwo = [numberOne.append(n) for n in numberTwo]
print(numberOne)

3
even number tuple (0, 2, 4, 6, 8)
odd number tuple (1, 3, 5, 7, 9)
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
numberOne

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 13. Repeat a tuple three times.
# 14. Check if a tuple is empty.
# 15. Create a nested tuple.
# 16. Access the first element of a nested tuple.
repeat = (1,2,3)*3
print(repeat)
tuple_new = ()
if tuple_new:
  print('fill')
else:
  print('empty')
nested = (1,2,(3,4),5)
print(nested)
nested_tuple = ((1,2),(3,4,5),(6,7,8))
print(nested_tuple[0])

(1, 2, 3, 1, 2, 3, 1, 2, 3)
empty
(1, 2, (3, 4), 5)
(1, 2)

In [ ]:
# 17. Create a tuple with a single element.
# 18. Compare two tuples.
# 19. Delete a tuple.
# 20. Slice a tuple.
x = 1,
print(x)
one=(9,)
two = (9,)
print(one==two)
del one
try:
  print(one)
except:
  print('The tuple is not exists')
days = (1,2,3,4,5,6,7)
print(days[1:-1])

(1,)
True
The tuple is not exists
(2, 3, 4, 5, 6)

In [ ]:
# 21. Find the maximum value in a tuple.
# 22. Find the minimum value in a tuple.
# 23. Convert a string to a tuple of characters.
# 24. Convert a tuple of characters to a string.
number_between_range = (1,2,3,4,5,6,7,8,9)
print('max elements',max(number_between_range))
print('min_elements',min(number_between_range))
print("".join(str(n) for n in number_between_range))
print(tuple(n for n in "".join(str(n) for n in number_between_range)))

max elements 9
min_elements 1
123456789
('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [ ]:
# 25. Create a tuple from multiple data types.
# 26. Check if two tuples are identical.
# 27. Sort the elements of a tuple.
# 28. Convert a tuple of integers to a tuple of strings.
# 29. Convert a tuple of strings to a tuple of integers.
# 30. Merge two tuples.
datatype_tuple = (1,2.30,'sahim')
print(datatype_tuple)
tupelOne = (1,2,3)
tupleTwo = (1,2,3)
tupleThree = (4,5,6)
if tupelOne == tupelOne:
  print(True)
else:
  print(False)
if tupleTwo == tupleThree or tupelOne==tupleThree:
  print(True)
else:
  print(False)
unsort = (4,1,3,2)
print('unsort',unsort)
sort = tuple(sorted(unsort))
print('sort',sort)
int_tuple = (1,2,3,4,5)
print(tuple([str(n) for n in int_tuple]))
str_tuple = ('1','2','3','4','5')
print(tuple([int(n) for n in str_tuple]))
tuple1 = (1,2,3)
tuple2 = (4,5,6)
print('merge',tuple1,tuple2)
tuple1 = list(tuple1)
tuple2 = list(tuple2)
tuple1.extend(tuple2)
print(tuple(tuple1))

(1, 2.3, 'sahim')
True
False
unsort (4, 1, 3, 2)
sort (1, 2, 3, 4)
('1', '2', '3', '4', '5')
(1, 2, 3, 4, 5)
merge (1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [ ]:
# 31. Flatten a nested tuple.
import numpy as np
number = [[1,2],[3,4],[4,5],6,[7,8,[9,10]]]
number = str(number)
number = number.replace('[',"")
number = number.replace(']',"")
print(number)
# 32. Create a tuple of the first 5 prime numbers.
number = []
for i in range(100):
  if i==0 or i==1:
    # non_prime_no.append(i)
    pass
  if i%2==0 or i%3==0 or i%5==0:
    # non_prime.append(i)
    pass
  else:
    number.append(i)
print(tuple(number))

# 33. Check if a tuple is a palindrome.
name = 'sahim'
scrap = 'naan'
def is_palindrom(word):
  if word==word[::-1]:
    return 'palindrome'
  return 'not palindrome'
print(is_palindrom('sahim'))
print(is_palindrom('nan'))
# 34. Create a tuple of squares of numbers from 1 to 5.

print(tuple(n**2 for n in range(1,6)))
# 35. Filter out all even numbers from a tuple.

print(tuple(n for n in range(1,50) if n%2==0))

# 36. Multiply all elements in a tuple by 2.
odd = tuple(n * 2 for n in range(1,20))
print(odd)

1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10
(1, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 49, 53, 59, 61, 67, 71, 73, 77, 79, 83, 89, 91, 97)
not palindrome
palindrome
(1, 4, 9, 16, 25)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48)
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38)

In [ ]:
# 37. Create a tuple of random numbers.
import random
random_tuple = tuple(random.randint(1,100) for n in range(10))
print(random_tuple)
# 38. Check if a tuple is sorted.
unsorted = (1,2,3,4,5)
left = 0
right = 1
flag = True
while left<len(unsorted) and right<len(unsorted):
  if unsorted[left]>unsorted[right]:
    flag=True
    print('tuple is unsorted')
  else:
    flag = False
    left+=1
    right+=1
if flag == True:
  print('tuple is unsorted')
else:
  print('tuple is sorted')
# 39. Rotate a tuple to the left by `n` positions.

# 40. Rotate a tuple to the right by `n` positions.
# 41. Create a tuple of the first 5 Fibonacci numbers.

# 42. Create a tuple from user input.

(64, 2, 72, 84, 19, 82, 12, 24, 29, 75)
tuple is sorted

In [14]:
# 43. Swap two elements in a tuple.
unswap = (1,2,3)
print('unswap',unswap)
swap = list(unswap)
swap[0],swap[1] = swap[1],swap[0]
print('swap',tuple(swap))
# 44. Reverse the elements of a tuple.
number = (1,2,3,4,5)
print('numbers ',number)
print('reverse number ',number[::-1])
# 45. Create a tuple of the first `n` powers of 2.
power2 = tuple(n**2 for n in range(5))
print('first n power 2 ',power2)
# 46. Find the longest string in a tuple of strings.
mail = "hello theres I hope this mail find you well my name is sahim kazi"
tuple_mail = list(n for n in mail.split(' '))
length_tuple_mail = tuple({n:tuple_mail.count(n) for n in tuple_mail})
print(length_tuple_mail)
print("maximum element is ", max(length_tuple_mail,key = len))
# 47. Find the shortest string in a tuple of strings.
print("minimum element is ", min(length_tuple_mail,key = len))
# 48. Create a tuple of the first `n` triangular numbers.

# 49. Check if a tuple contains another tuple as a subsequence.
sequence_tuple = (1,2,(1,2,3),4,5)
flag = True
for i in sequence_tuple:
  if type(i)==tuple:
    flag=False
if flag==True:
  print('not contain sequence ',sequence_tuple)
else:
  print('contain sequence',sequence_tuple)
# 50. Create a tuple of alternating 1s and 0s of length `n`.
alternate_list = list()
for i in range(10):
  alternate_list.append(0)
  alternate_list.append(1)
print('Alternative tuple is ',tuple(alternate_list))

unswap (1, 2, 3)
swap (2, 1, 3)
numbers  (1, 2, 3, 4, 5)
reverse number  (5, 4, 3, 2, 1)
first n power 2  (0, 1, 4, 9, 16)
('hello', 'theres', 'I', 'hope', 'this', 'mail', 'find', 'you', 'well', 'my', 'name', 'is', 'sahim', 'kazi')
maximum element is  theres
minimum element is  I
contain sequence (1, 2, (1, 2, 3), 4, 5)
Alternative tuple is  (0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)